* , ::before , ::after{
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 2rem 0 0 0;
    
    color: black;
    background-color: #18051D;

}

img{
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;

}

.main{
    padding: 2rem 0;
}

.bg-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(220px, 1fr));
    max-width: 1200px;
    margin: left 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

.title-shop{
    position: relative;
    margin: 0 2.5rem;
}

.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    margin-left: 0.25rem;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}

article:nth-child(1),
article:nth-child(2),
article:nth-child(3)
{
    background-color: #ecabf6;
}



.card-name{
    position: absolute;
    top: 0;
    width: 3rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg)
    background-color black;
    color: whitesmoke;
    font-size: 18px;
    padding: 15px 0px;
    font-weight: 500;
    left: -25%;
    transition: 0.5s;
}

.card-icon{
    font-size: 1.8rem;
    color: teal;
}

.card-icon:hover{
    color: teal;
}

.card-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.price{
    display: block;
    text-align: center;
}

.card-price-before{
    font-size: 15px;
    color: tomato;
    margin-bottom: 0.25rem;
}

.card-price-after{
    font: 20px;
    font-weight: 700;
}

.card:hover{
    box-shadow: 0 0.5rem 1rem rgb(255, 126, 255);
}

.card:hover .card-name{
    left: 0;
}

.card:hover .card-img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}

.card:hover .card-price{
    margin-left: 3.5rem;
    padding: 0.1.5rem;
}

@media screen and (min-width : 1200px){
    body{
        margin: 3rem 0 0 0;
    }

    .title-shop{
        margin: 0 5 rem;
    }

    .bg-grid{
        margin-left: auto;
        margin-right: auto;
    }
}

p{
    color: white;
}