* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start";
    background-color: #18051D;
    color: white;
}

.login-register ul {
    list-style-type: none;
    padding: 10px;
    margin: 0 15px;
    text-align: right;
}

.login-register li {
    display: inline-block;
}

.login-register a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0 5px ;
    font-size: 10px;
}

.box-container {
    background-image: url("/images/BG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation-bar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation-bar a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 13px;
}

.navigation-bar li {
    float: left;
    width: 120px;
}


.bbx-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 5px;
    align-items: center;
}

.welcome-msg h1 {
    font-size: 8px;
    padding: 10px 90px;
}

.search-bar {
    width: 400px;
    max-width: 400px;
    margin-right: 50px;
    background-color: #38213C;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 3px;
    font: 8px;
    color: #A49F9F; 
    font-family: "Press Start";
}

::placeholder {
    color: #A49F9F;
    font-family: "Press Start";
    font-size: 8px;
}

.search-bar button img {
    width: 15px;
}

.search-bar button {
    border: 0;
    border-radius: 10px;
    width: 40px;
    height: 30px;
    background-color: #7E618B;
    cursor: pointer;
}