* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start";
    background-color: #18051D;
    color: white;
}

.login-register {
    position: absolute;
    right: 0px;
    padding: 15px;
}

.login-register a {
    text-decoration: none;
    color: white;
}

.logo img {
    width: 200px;
}