* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start";
    background-color: #18051D;
    color: white;
}

.login-register {
    position: absolute;
    right: 0px;
    padding: 15px;
}

.login-register a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo img {
    width: 700px;
}